<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crystal.My.MySettings.CMConnectionString" connectionString="Data Source=cm;User ID=crystal;Password=crystal;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>